/* General styles for arrows */
.sortable i {
    visibility: hidden;
}

.sortable:hover i {
    visibility: visible;
}

/* Styles for active sort */
.sortable.active i {
    visibility: visible;
}

/* Specific styles for direction */
.sortable.asc i.fa-sort-up,
.sortable.desc i.fa-sort-down {
    visibility: visible;
}

.sortable.asc i.fa-sort-down,
.sortable.desc i.fa-sort-up {
    visibility: hidden;
}
