@model Zadanie_.Models.Employee2

@{
    ViewData["Title"] = "AddingNewEmp";
}



<!-- Displaying Error Message-->
@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @ViewData["ErrorMessage"]
    </div>
}

<div class="container">
    <div class="col-md-10 border-1">

        <form asp-action="AddNewEmployee">

            <h2>Create New Employee</h2>
            <hr />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="row">
                <div class="col-3">
                    <label asp-for="PersonalNumber" class="control-label"></label>
                    <input asp-for="PersonalNumber" class="form-control" />
                    <span asp-validation-for="PersonalNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <label asp-for="Surname" class="control-label"></label>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <label asp-for="DateOfBirth" class="control-label"></label>
                    <input asp-for="DateOfBirth" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <label asp-for="IdentificationNumber" class="control-label"></label>
                    <input asp-for="IdentificationNumber" class="form-control" />
                    <span asp-validation-for="IdentificationNumber" class="text-danger"></span>
                </div>
            </div>

            <br />

            <div class="form-group">
                <input type="submit" value="Create New Employee" class="btn btn-primary" />
                <a asp-action="Index" asp-controller="Emp" class="btn btn-warning">Back to All Employees</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
